{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

    <h4 align="center">Job Market Analysis Tool</h4>
    <br></br>
    <p>
        This website serves as a tool for recent graduates that are looking for entry-level opportunities within cybersecurity,
        data science, and computer science.
        
        Data from other popular job sites are collected to display insights about current job market trends (i.e., the % of companies
        that have 'python' on their job listing, or the highest avg. salary).
        




    </p>
    {% endblock %}