{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Search for a Job!</h1>
<form method="POST" name = "form_data" id="form_data">
    </br>
  <div class="form-group">
      </br>
      <label for="job_field">Job Field</label>
    <div class="input-group mb-3">
  <select class="custom-select"
    type="job_field"
      class="form-control"
      id="job_field"
      name="job_field">
    <option selected>Choose Job field</option>
    <option value="1">Software engineer</option>
    <option value="2">Software Developer</option>
    <option value="3">Data Scientist</option>
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="inputGroupSelect02">Options</label>
  </div>
    </div>
      </br>

      <label for="salary">Salary Range</label>
      <div class="input-group mb-3">
  <select class="custom-select"
      type="salary"
      class="form-control"
      id="salary"
      name="salary">
    <option selected>Select a salaray range</option>
    <option value="1">$10,000-$40,000</option>
    <option value="2">$40,000-$70,000</option>
    <option value="3">$80,000-$110,000</option>
    <option value="4">$110,000 or more</option>
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="inputGroupSelect02">Options</label>
  </div>
    </div>
      </br>
     <label for="location">Geographical location</label>
      <div class="input-group mb-3">
  <select class="custom-select"
      type="location"
      class="form-control"
      id="location"
      name="location">>
    <option selected>Select a geographical location</option>
    <option value="1">New York, NY</option>
    <option value="2">San Francsico, CA</option>
    <option value="3">Chicago, IL</option>
    <option value="4">Houston, TX</option>
    <option value="5">Jacksonville, FL</option>
    <option value="6">Columbus, OH</option>
    <option value="7">Seattle, WA</option>
    <option value="8">Nashville, TN</option>
    <option value="9">Washington, DC</option>
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="inputGroupSelect02">Options</label>
  </div>
    </div>

  </div>

    <br />
  <button type="submit" class="btn btn-dark bg-dark">Search</button>
</form>
{% endblock %}